.listings-flex {
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:40px;
}


.main-group {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding:50px 50px;
    font-family: 'Poppins', sans-serif;
    border-radius:4px;
    display:flex;
    align-items:center;
    flex-direction:column;

}
