<head>
    <title>My Deals</title>
</head>
<h2>Your Current Deals</h2>
  <div class="listings-flex">
  <% @deals.each do |deal| %>
    <% if deal.status == 'ongoing' || deal.status == 'pending' %>
        <div class="main-group">
              <p><%= deal.item.name %></p>
              <p><%= deal.item.price %></p>
              <p><%= deal.duration %></p>
        </div>
    <% end %>
  <% end %>
  </div>

