.button-small a {
  padding:16px 28px;
  background-color:#6494AA;
  color:white;
  text-decoration:none;
  border-radius:4px;
}


/* Medium Button */
.button-medium a {
  padding:16px 40px;
  background-color:#6494AA;
  color:white;
  text-decoration:none;
  border-radius:4px;
  margin-left:200px;
}

/* Large Button */
.button-large a {
  padding:16px 56px;
  background-color:#6494AA;
  color:white;
  text-decoration:none;
  border-radius:4px;
  margin-left:400px;
}
