.button-small a {
  padding:16px 28px;
  background-color:#6494AA;
  color:white;
  text-decoration:none;
  border-radius:4px;
}

.button-small:hover {
  background-color:#496C7C;
  transition:0.3s;
}


/* Medium Button */
.button-medium a {
  padding:16px 40px;
  background-color:#6494AA;
  color:white;
  text-decoration:none;
  border-radius:4px;
  margin-left:200px;
}

/* Large Button */
.button-large {
  padding:16px 56px;
   /* background-color:#6494AA; */
   border:1px solid white;
  color:white;
  text-decoration:none;
  border-radius:4px;
  font-weight:800;
}

.button-large:hover {
  text-decoration:none;
  color:#cacaca;
  border:1px solid #cacaca;

}

