.card-categories-image {
  border-radius:4px;

}

.card-categories-image:hover {
  transition:0.3s;
  overflow:hidden;

}

.card-categories-image a {
  color:white;
  display:flex;
  text-decoration:none;
  font-size:32px;
  font-weight:200;
}

