.card-horizontal {
  display:flex;
  height:100px;
  width:350px;
  margin:15px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius:4px;
  background-color:white;

}

.card-horizontal-image {
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:4px 0px 0px 4px;

}

.card-horizontal-text {
  width:300px;
  display:flex;
  align-items:flex-end;
  justify-content:space-between;
}



.card-horizontal-text a {
  font-weight:200;
  margin:3px 3px;
  color:black;
}

.card-horizontal-text a:hover {
  transition:0.3s;
  color:red;
  text-decoration:none;
}

.card-horizontal p {
    font-weight:400;
    margin:3px 3px;
}
