.card-horizontal {
  display:flex;
  height:100px;
  max-width:350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius:4px;
  margin:5vh 0vh;

}

.card-horizontal-image img {
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:4px 0px 0px 4px;

}

.card-horizontal a {
font-size:21px;
color:black;
text-decoration:none;
font-weight:200;
margin:3px 5px;
}

.card-horizontal-text {
  width:300px;
}

.card-horizontal a:hover {
  color:red;
  transition:0.3s;
}

.card-horizontal p {
    font-weight:400;
    margin:3px 5px;
}

.card-horizontal-text {
  display:flex;
  align-items:flex-end;
  justify-content:space-between;

}
