.card-horizontal {
  display:flex;
  height:100px;
  max-width:350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius:4px;
  align-items:flex-end;
  justify-content:space-between;
  margin:5vh 0;

}

.card-horizontal-image img {
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:4px 0px 0px 4px;

}

.card-horizontal-text {
  width:300px;

}



.card-horizontal-text h2 {
  font-weight:200;

}

.card-horizontal p {
    font-weight:800;
    margin-bottom:0px;
}
