.navbar-main {
  height:80px;
  display:flex;
  align-items:center;
  justify-content:space-between;

}


.button-small  {
  padding:16px 28px;
  background-color:#6494AA;
  text-decoration:none;
  border-radius:4px;
  font-size:16px;
  font-weight:400 !important;
  color:white;

}

.navbar-list ul li {
  list-style:none;
  display:inline-block;

}

.navbar-list a {
  color:black;
  text-decoration:none;
  margin:0 10px;
  font-weight:200;
  font-family: 'Poppins', sans-serif;
}

.navbar-list ul {
  margin-bottom: 0;
}

